@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rajdhani:wght@300;400;600;700&display=swap");
/* MISC */
/* COLORS */
:root {
  --color-background: #000000;
  --color-aside: #161414;
  --color-primary: #FE004E;
  --color-secondary: #0BE5CB;
  --color-text: #F8EAED;
  --bs-link-color: var(--color-background);
  --bs-link-hover-color: var(--color-secondary); }

/* FONT-FAMILY */
.font-title {
  font-family: Black Ops One, cursive; }

.font-text {
  font-family: Rajdhani, sans-serif; }

/* FONT-SIZE REFERENCE */
/* FONT-SIZES */
/* SPACES */
/* BORDERS */
/* MIXINS */
/* NORMALIZE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: var(--color-background);
  height: auto;
  font-family: "Rajdhani", sans-serif; }

.trail {
  /* className for the trail elements */
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  box-shadow: 3px 3px 15px 3px var(--color-primary);
  background: var(--color-primary); }

ul {
  list-style-type: none;
  padding: 0; }

a {
  text-decoration: none; }

.main-content {
  margin-left: 20rem; }

.gradient-background {
  animation: fluido 2s ease infinite;
  background: linear-gradient(60deg, var(--color-primary), var(--color-aside));
  background-size: 300%; }

@keyframes fluido {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

/* PARTIALS */
header {
  width: 100%;
  height: 10vh;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  position: fixed;
  z-index: 101;
  font-size: 1rem; }
  header #theme {
    padding: 0.1rem;
    background-color: var(--color-primary);
    opacity: 0.7;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0; }
    header #theme .theme__icon {
      margin: 0.7rem; }
      header #theme .theme__icon:nth-child(2) {
        display: none; }
    header #theme .dark {
      fill: var(--color-background);
      cursor: pointer; }
    header #theme .light {
      stroke: var(--color-text);
      fill: none;
      cursor: pointer; }
  header .btns-container .fas {
    padding: 0.7rem;
    fill: var(--color-primary);
    cursor: pointer; }
    header .btns-container .fas:nth-child(2) {
      display: none; }

.aside {
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--color-aside);
  font-size: 1rem;
  z-index: 100; }
  .aside .aside-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0; }
    .aside .aside-wrapper .logo-section {
      min-height: 20vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      background-color: var(--color-background); }
      .aside .aside-wrapper .logo-section .logo {
        display: grid;
        place-items: center; }
        .aside .aside-wrapper .logo-section .logo img {
          width: auto;
          height: 10rem; }
    .aside .aside-wrapper .nav-links {
      width: 100%; }
      .aside .aside-wrapper .nav-links .nav__menu {
        width: 100%; }
        .aside .aside-wrapper .nav-links .nav__menu .menu__link {
          display: block;
          color: var(--color-primary);
          font-size: 1.6em;
          font-weight: semibold;
          text-align: center;
          line-height: 3em;
          border-top: 0.2rem solid var(--color-background);
          transition: background-color 1s; }
          .aside .aside-wrapper .nav-links .nav__menu .menu__link--border-bottom {
            border-bottom: 0.2rem solid var(--color-background); }
          .aside .aside-wrapper .nav-links .nav__menu .menu__link:hover {
            color: var(--color-secondary);
            background-color: var(--color-background); }
          .aside .aside-wrapper .nav-links .nav__menu .menu__link--active {
            color: var(--color-secondary); }
    .aside .aside-wrapper .social-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 2rem auto; }
      .aside .aside-wrapper .social-icons svg {
        fill: var(--color-primary);
        height: 3rem;
        width: 3rem; }
        .aside .aside-wrapper .social-icons svg:hover {
          fill: var(--color-secondary); }
    .aside .aside-wrapper .main-header__copyright {
      color: var(--color-text);
      font-size: 1.2em;
      font-weight: regular;
      text-align: center;
      line-height: 1em;
      padding: 2rem 0; }

.show-nav {
  height: 100%;
  overflow: visible; }

@media screen and (min-width: 950px) {
  header {
    justify-content: flex-end;
    align-items: flex-end; }
    header .btns-container {
      display: none; }
  .aside {
    width: 20rem;
    height: 100%; }
    .aside .aside-wrapper .logo-section {
      min-height: 20vh; }
    .aside .aside-wrapper .social-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.1rem;
      margin: 0 auto; }
    .aside .aside-wrapper .main-header__copyright {
      padding: 1rem; } }

.main-content__banner {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .main-content__banner:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg, transparent 0%, var(--color-background));
    z-index: 2; }
  .main-content__banner .banner__bg {
    position: relative;
    height: 100%;
    max-height: 100vh;
    z-index: 0;
    animation-duration: 300s;
    animation-name: moveZoom;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate; }
  .main-content__banner .banner__fg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    max-height: 100vh;
    z-index: 2;
    animation-duration: 150s;
    animation-name: moveZoom;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate; }
  .main-content__banner .banner__text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    z-index: 1; }
    .main-content__banner .banner__text .banner__title {
      width: 80%;
      color: var(--color-background);
      font-size: 10em;
      font-weight: regular;
      text-align: center;
      line-height: 1em;
      opacity: 0.8;
      animation-duration: 2s;
      animation-name: show; }
    .main-content__banner .banner__text svg {
      width: 10%;
      fill: var(--color-background);
      fill-opacity: 0.8;
      animation-duration: 2s;
      animation-name: moveUpDown;
      animation-iteration-count: infinite; }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }

@keyframes moveUpDown {
  0% {
    transform: translate(0, 20px); }
  50% {
    transform: translate(0, -20px); }
  100% {
    transform: translate(0, 20px); } }

@keyframes moveZoom {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(5); } }

/* VIEWS */
#about-me .main-content__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem; }
  #about-me .main-content__info .info__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    #about-me .main-content__info .info__title .title__name {
      color: var(--color-primary);
      font-size: 9.6em;
      font-weight: regular;
      text-align: center;
      line-height: 1em; }
    #about-me .main-content__info .info__title .title__degree {
      color: var(--color-secondary);
      font-size: 5.4em;
      font-weight: semibold;
      text-align: center;
      line-height: 1em; }
  #about-me .main-content__info .info__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--color-text);
    font-size: 3.6em;
    font-weight: regular;
    text-align: justify;
    line-height: 1em;
    hyphens: auto;
    padding: 0 3rem; }
  #about-me .main-content__info .info__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 1fr); }
    #about-me .main-content__info .info__gallery img {
      transition: filter 0.3s ease-in-out; }
      #about-me .main-content__info .info__gallery img:hover {
        filter: invert(100%); }
    #about-me .main-content__info .info__gallery img:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/5; }
    #about-me .main-content__info .info__gallery img:nth-child(2) {
      grid-column: 3/5;
      grid-row: 1/4; }
    #about-me .main-content__info .info__gallery img:nth-child(3) {
      grid-column: 3;
      grid-row: 4/7; }
    #about-me .main-content__info .info__gallery img:nth-child(4) {
      grid-column: 4;
      grid-row: 4/7; }
    #about-me .main-content__info .info__gallery img:nth-child(5) {
      grid-column: 1;
      grid-row: 5/9; }
    #about-me .main-content__info .info__gallery img:nth-child(6) {
      grid-column: 2;
      grid-row: 5/7; }
    #about-me .main-content__info .info__gallery img:nth-child(7) {
      grid-column: 2;
      grid-row: 7/9; }
    #about-me .main-content__info .info__gallery img:nth-child(8) {
      grid-column: 3;
      grid-row: 7/11; }
    #about-me .main-content__info .info__gallery img:nth-child(9) {
      grid-column: 4;
      grid-row: 7/10; }
    #about-me .main-content__info .info__gallery img:nth-child(10) {
      grid-column: 1;
      grid-row: 9/12; }
    #about-me .main-content__info .info__gallery img:nth-child(11) {
      grid-column: 2;
      grid-row: 9/11; }
    #about-me .main-content__info .info__gallery img:nth-child(12) {
      grid-column: 4;
      grid-row: 10/13; }
    #about-me .main-content__info .info__gallery img:nth-child(13) {
      grid-column: 2;
      grid-row: 11/14; }
    #about-me .main-content__info .info__gallery img:nth-child(14) {
      grid-column: 3;
      grid-row: 11/14; }
    #about-me .main-content__info .info__gallery img:nth-child(15) {
      grid-column: 1;
      grid-row: 12/14; }
    #about-me .main-content__info .info__gallery img:nth-child(16) {
      grid-column: 4;
      grid-row: 12/14; }

/* MEDIA QUERIES 
  @media screen and (max-width: 1191px) {
    .hero-title {
      font-size: 5rem;
    }
    #mouse-icon {
      bottom: 14%;
    }
  }
  @media screen and (max-width: 891px) {
    .hero-title {
      font-size: 4.5rem;
    }
    #mouse-icon {
      bottom: 12%;
      width: 30px;
    }
  }
  @media screen and (max-width: 768px) {
    .hero-title {
      font-size: 3.5rem;
    }
    #mouse-icon {
      bottom: 10%;
    }
  }
  @media screen and (max-width: 575px) {
    .hero-title {
      font-size: 3rem;
    }
    #mouse-icon {
      width: 20px;
    }
  }
  
  @media screen and (max-width: 1191px) {
    .container {
      width: auto;
      margin: 3rem 2rem;
      grid-gap: 35px;
    }
  }
  @media screen and (max-width: 891px) {
    .panel-text {
      font-size: 1.25rem;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      grid-template-areas:
        "image"
        "text";
    }
    .panel-image {
      margin: 0px;
    }
  }
  @media screen and (max-width: 575px) {
    .container {
      margin: 0rem 2rem;
    }
    .panel-text {
      font-size: 1rem;
    }
    .btn {
      font-size: 1rem;
    }
  }
  */
#proyects .main-content__info {
  height: 100vh;
  padding: 3rem; }
  #proyects .main-content__info .info__title {
    color: var(--color-primary);
    font-size: 5.4em;
    font-weight: 700;
    text-align: center;
    line-height: 1em;
    margin-bottom: 3rem; }
  #proyects .main-content__info .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap; }
    #proyects .main-content__info .cards .card {
      width: 30%;
      background-color: var(--color-aside);
      color: var(--color-text);
      padding: 2rem;
      gap: 2rem; }
      #proyects .main-content__info .cards .card .card__header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0; }
        #proyects .main-content__info .cards .card .card__header img {
          height: 10rem; }
      #proyects .main-content__info .cards .card .card__body .card__title {
        color: var(--color-primary);
        font-size: 3.6em;
        font-weight: 600;
        text-align: center;
        line-height: 1em; }
      #proyects .main-content__info .cards .card .card__body .card__text {
        color: var(--color-text);
        font-size: 2.4em;
        font-weight: regular;
        text-align: justify;
        line-height: 1em;
        hyphens: auto; }
      #proyects .main-content__info .cards .card .card__footer {
        color: var(--color-background);
        font-size: 2.4em;
        font-weight: 600;
        text-align: center;
        line-height: 1em; }

#skills .main-content__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh; }
  #skills .main-content__info .info__title {
    color: var(--color-primary);
    font-size: 5.4em;
    font-weight: 700;
    text-align: center;
    line-height: 1em; }
  #skills .main-content__info .info__text {
    color: var(--color-text);
    font-size: 2.4em;
    font-weight: regular;
    text-align: justify;
    line-height: 1em;
    hyphens: auto;
    padding: 0 6rem; }
  #skills .main-content__info .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    width: 100%; }
    #skills .main-content__info .skills .skills-container {
      width: 40%; }
      #skills .main-content__info .skills .skills-container .skills__type {
        color: var(--color-secondary);
        font-size: 3.6em;
        font-weight: 600;
        text-align: left;
        line-height: 1em; }
      #skills .main-content__info .skills .skills-container strong {
        color: transparent;
        font-size: 2.4em;
        font-weight: 600;
        text-align: left;
        line-height: 1em;
        -webkit-background-clip: text;
        background-clip: text; }
      #skills .main-content__info .skills .skills-container .skill {
        width: 100%;
        margin: 2rem 0; }
        #skills .main-content__info .skills .skills-container .skill .skill__name {
          color: var(--color-text);
          font-size: 2.4em;
          font-weight: 600;
          text-align: left;
          line-height: 1em; }
        #skills .main-content__info .skills .skills-container .skill .skill__bar {
          width: 100%;
          height: 0.3rem;
          background-color: var(--color-aside);
          margin-top: 1rem; }
          #skills .main-content__info .skills .skills-container .skill .skill__bar .bar__progress {
            height: 100%;
            background-color: var(--color-secondary); }
            #skills .main-content__info .skills .skills-container .skill .skill__bar .bar__progress--html {
              width: 90%; }
            #skills .main-content__info .skills .skills-container .skill .skill__bar .bar__progress--css {
              width: 80%; }
            #skills .main-content__info .skills .skills-container .skill .skill__bar .bar__progress--js {
              width: 20%; }

#work-experience .main-content__info {
  height: 100vh; }
  #work-experience .main-content__info .info__header {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding-top: 9rem; }
    #work-experience .main-content__info .info__header h2 {
      color: var(--color-primary);
      font-size: 5.4em;
      font-weight: 700;
      text-align: center;
      line-height: 1rem; }
    #work-experience .main-content__info .info__header .tabContainer {
      position: relative;
      bottom: 0;
      width: 100%;
      background-color: var(--color-aside);
      color: var(--color-primary);
      font-size: 2.4em;
      font-weight: regular;
      text-align: center;
      line-height: 1rem; }
      #work-experience .main-content__info .info__header .tabContainer .tabs {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        flex-wrap: row nowrap; }
        #work-experience .main-content__info .info__header .tabContainer .tabs .tab {
          display: block;
          padding: 20px;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          white-space: nowrap;
          cursor: pointer; }
          #work-experience .main-content__info .info__header .tabContainer .tabs .tab__text {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            font-size: 20px;
            margin-left: 10px; }
          #work-experience .main-content__info .info__header .tabContainer .tabs .tab.active {
            color: var(--color-secondary);
            font-size: 2.4em;
            font-weight: 600;
            text-align: center;
            line-height: 1rem; }
        #work-experience .main-content__info .info__header .tabContainer .tabs .indicator {
          position: absolute;
          bottom: 0;
          height: 3px;
          background: var(--color-secondary); }

.sectionsContainer {
  color: #fff;
  width: 100%;
  height: 70vh;
  padding: 2rem; }
  .sectionsContainer .sections .section {
    display: none; }
    .sectionsContainer .sections .section p {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 25px; }
    .sectionsContainer .sections .section.active {
      display: block; }

@media screen and (max-width: 960px) {
  .tabContainer .tabs .tab .text {
    display: none; } }

#contactme .main-content__info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }
  #contactme .main-content__info .main-content__form {
    width: 90%;
    margin: auto; }
    #contactme .main-content__info .main-content__form .form__write {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: stretch;
      gap: 0;
      margin: 3rem 0 1rem; }
      #contactme .main-content__info .main-content__form .form__write .form-floating .contact__box, #contactme .main-content__info .main-content__form .form__write .form-floating .contact__box--text-area {
        margin-bottom: 2rem;
        height: 7rem;
        background: var(--color-aside);
        color: var(--color-text);
        font-size: 1.6em;
        font-weight: regular;
        text-align: left;
        line-height: 1em;
        border: none;
        border-bottom: 2px solid var(--color-primary); }
      #contactme .main-content__info .main-content__form .form__write .form-floating .contact__box--text-area {
        height: 20rem; }
      #contactme .main-content__info .main-content__form .form__write .form-floating label {
        color: var(--color-primary);
        font-size: 1.6em;
        font-weight: regular;
        text-align: left;
        line-height: 1em;
        padding: 1rem; }
      #contactme .main-content__info .main-content__form .form__write .form-floating .form-control {
        transition: border-bottom 0.5s ease-in-out; }
        #contactme .main-content__info .main-content__form .form__write .form-floating .form-control:focus {
          border-bottom: 2px solid var(--color-secondary);
          box-shadow: none; }
    #contactme .main-content__info .main-content__form .form__send {
      height: 5rem;
      width: 100%;
      color: var(--color-primary);
      font-size: 1.6em;
      font-weight: 600;
      text-align: center;
      line-height: 1em;
      margin-bottom: 3rem;
      transition: background-color 0.5s ease-in-out; }
      #contactme .main-content__info .main-content__form .form__send:hover {
        color: var(--color-background); }
  #contactme .main-content__info .main-content__social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    #contactme .main-content__info .main-content__social-media .social-media {
      margin-bottom: 3rem; }
      #contactme .main-content__info .main-content__social-media .social-media .social-media__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
        background: var(--color-primary);
        height: 5rem;
        overflow: hidden;
        width: 5rem;
        border-radius: 50%;
        transition: 0.3s ease all; }
        #contactme .main-content__info .main-content__social-media .social-media .social-media__container .container__icon, #contactme .main-content__info .main-content__social-media .social-media .social-media__container .container__text {
          cursor: pointer;
          display: block;
          transition: 0.3s ease all; }
        #contactme .main-content__info .main-content__social-media .social-media .social-media__container .container__icon {
          height: 100%;
          fill: var(--color-background);
          z-index: 9999;
          padding-top: 1rem;
          padding-left: 1rem; }
        #contactme .main-content__info .main-content__social-media .social-media .social-media__container .container__text {
          display: none;
          color: var(--color-background);
          font-size: 1.6em;
          font-weight: 600;
          text-align: center;
          line-height: 1em;
          z-index: 8888; }
        #contactme .main-content__info .main-content__social-media .social-media .social-media__container:hover {
          width: 20rem;
          border-radius: 0.5rem; }
          #contactme .main-content__info .main-content__social-media .social-media .social-media__container:hover .container__icon {
            display: none; }
          #contactme .main-content__info .main-content__social-media .social-media .social-media__container:hover .container__text {
            display: block; }

.btn-primary {
  --bs-btn-bg: var(--color-aside);
  --bs-btn-border-color: var(--color-aside);
  --bs-btn-hover-bg: var(--color-primary);
  --bs-btn-hover-border-color: var(--color-primary);
  --bs-btn-active-bg: var(--color-primary);
  --bs-btn-active-border-color: var(--color-primary);
  --bs-btn-disabled-bg: var(--color-primary);
  --bs-btn-disabled-border-color: var(--color-primary);
  --bs-btn-focus-shadow-rgb: var(--color-primary); }
