.main-content__banner {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 50%;
        width: 100%;
        background: linear-gradient(180deg, transparent 0%, var(--color-background));
        z-index: 2;
    }
    
    .banner__bg {
        position: relative;
        height: 100%;
        max-height: 100vh;
        z-index: 0;
        animation-duration: 300s;
        animation-name: moveZoom;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
      }

    .banner__fg {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        max-height: 100vh;
        z-index: 2;
        animation-duration: 150s;
        animation-name: moveZoom;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }

    .banner__text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include flex (row, center, center, 0);
        z-index: 1;
    
        .banner__title{
            width: 80%;
            @include text (var(--color-background), 10em, regular, center, 1em);
            opacity: 0.8;
            animation-duration: 2s;
            animation-name: show;
        }

        svg{
            width: 10%;
            fill: var(--color-background);
            fill-opacity: 0.8;
            animation-duration: 2s;
            animation-name: moveUpDown;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
 }
 
 @keyframes moveUpDown {
    0% {
        transform: translate(0, 20px);
    }
    50% {
        transform: translate(0, -20px);
    }
    100% {
        transform: translate(0, 20px);
    }
 }

 @keyframes moveZoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(5);
    }
 }