header{
    width: 100%;
    height: 10vh;
    margin: auto;
    padding: 1rem;
    @include flex(row, space-between, center, 0);
    position: fixed;
    z-index: 101;
    font-size: $text-desktop;

    #theme{
        padding: $spacing-xs;
        background-color: var(--color-primary);
        opacity: 0.7;
        border-radius: 0.5rem;
        @include flex(row, center, center, 0);

        .theme__icon{
            margin: 0.7rem;

            &:nth-child(2){
                display: none;
            }
        }

        .dark{
            fill: var(--color-background);
            cursor: pointer;
        }

        .light{
            stroke: var(--color-text);
            fill: none;
            cursor: pointer;
        }
    }

    .btns-container{
        .fas{
            padding: 0.7rem;
            fill: var(--color-primary);
            cursor: pointer;

            &:nth-child(2){
                display: none;
            }
        }
    } 
}

.aside{
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--color-aside);
    font-size: $text-desktop;
    z-index: 100;

    .aside-wrapper{
        height: 100vh;
        @include flex(column, space-between, center, 0);

        .logo-section{
            min-height: 20vh;
            width: 100%;
            @include flex(column, center, center, 0);
            background-color: var(--color-background);

            .logo{
                display: grid;
                place-items: center;

                img{
                    width: auto;
                    height: 10rem;
                }
            }
        }

        .nav-links{
            width: 100%;

            .nav__menu{
                width: 100%;

                .menu__link{
                    display: block;
                    @include text(var(--color-primary), $text-base, semibold, center, 3em);
                    border-top: 0.2rem solid var(--color-background);
                    
                    transition: background-color 1s;

                    &--border-bottom{
                        border-bottom: 0.2rem solid var(--color-background);
                    }

                    &:hover{
                        color: var(--color-secondary);
                        background-color: var(--color-background);
                    }

                    &--active{
                        color: var(--color-secondary);
                    }
                }
            }
        }

        .social-icons{
            @include flex(row, center, center, 0);
            margin: $spacing-m auto;

            svg{
                fill: var(--color-primary);
                height: 3rem;
                width: 3rem;
                margin-top: $spacing-s;
        
                &:hover{
                    fill: var(--color-secondary);
                }
            }
        }

        .main-header__copyright{
            @include text(var(--color-text), $text-xs, regular, center, 1em);
            padding: $spacing-m 0;
        }
    }
}

.show-nav{
    height: 100%;
    overflow: visible;
}

@media screen and (min-width: 950px) {
    header{
        justify-content: flex-end;
        align-items: flex-end;

        .btns-container{
            display: none;
        }
    }

    .aside{
        width: 20rem;
        height: 100%;

        .aside-wrapper{
            .logo-section{
                min-height: 20vh;

                // .logo img{
                //     width: 80px;
                //     height: auto;
                // }
            }

            .social-icons{
                @include flex(column, center, center, $spacing-xs);
                margin: 0 auto;
            }

            .main-header__copyright{
                padding: $spacing-s;
            }
        }
    }
}

@media screen and (max-height: 800px) {
    .aside{
        .aside-wrapper{
            .social-icons{
                svg{
                    margin-top: $spacing-xs*3;
                }
            }
        }
    }
}