#about-me{
    .main-content__banner{
      .banner__title{
        font-size: 15em;
      }
    }
    
    .main-content__info {
      @include flex (column, center, center, $spacing-l);
      font-size: $text-desktop;
  
      .info__title{
          @include flex (column, center, center, $spacing-s);
          max-width: 90%;

          .title__name {
              @include text (var(--color-primary), $text-xxl, regular, center, 1em);
          }
      
          .title__degree{
              @include text (var(--color-secondary), $text-xl, 600, center, 1em);
          }
      }
      
      .info__text{
          @include flex (column, center, center, $spacing-m);
          @include text (var(--color-text), $text-m, regular, justify, 1em);
          hyphens: auto;
          width: 90%;
          max-width: 1920px;

          p:nth-child(4){
            width: 100%;
          }
      }
  
      .info__gallery{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(13, 1fr);
          width: 100%;
          
          img{
              transition: filter 0.3s ease-in-out;
              width: 100%;
              
              &:hover{
                  filter: invert(100%);
              }
          }
  
          img:nth-child(1){
              grid-column: 1/3;
              grid-row: 1/5;
          }
  
          img:nth-child(2){
              grid-column: 3/5;
              grid-row: 1/4;
          }
  
          img:nth-child(3){
              grid-column: 3;
              grid-row: 4/7;
          }
  
          img:nth-child(4){
              grid-column: 4;
              grid-row: 4/7;
          }
  
          img:nth-child(5){
              grid-column: 1;
              grid-row: 5/9;
          }
  
          img:nth-child(6){
              grid-column: 2;
              grid-row: 5/7;
          }
  
          img:nth-child(7){
              grid-column: 2;
              grid-row: 7/9;
          }
  
          img:nth-child(8){
              grid-column: 3;
              grid-row: 7/11;
          }
  
          img:nth-child(9){
              grid-column: 4;
              grid-row: 7/10;
          }
  
          img:nth-child(10){
              grid-column: 1;
              grid-row: 9/12;
          }
  
          img:nth-child(11){
              grid-column: 2;
              grid-row: 9/11;
          }
  
          img:nth-child(12){
              grid-column: 4;
              grid-row: 10/13;
          }
  
          img:nth-child(13){
              grid-column: 2;
              grid-row: 11/14;
          }
  
          img:nth-child(14){
              grid-column: 3;
              grid-row: 11/14;
          }
  
          img:nth-child(15){
              grid-column: 1;
              grid-row: 12/14;
          }
  
          img:nth-child(16){
              grid-column: 4;
              grid-row: 12/14;
          }
          
      }
  }
}

@media screen and (max-width: 950px){
  #about-me{
    .main-content__banner{
      .banner__title{
      font-size: 10em;
      }
    }
    .main-content__info {
      font-size: $text-intermediate;
    }
  }
}

@media screen and (max-width: 600px){
  #about-me{
    .main-content__banner{
      .banner__title{
      font-size: 7em;
      }
    }
    .main-content__info {
      @include flex (column, center, center, $spacing-m);
      font-size: $text-mobile;

      .info__gallery{
        @include flex (column, center, center, 0);
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 400px){
  #about-me{
    .main-content__info {
      font-size: 0.5rem;
    }
  }
}