#education{
    .main-content__banner{
        .banner__title{
            font-size: 15em;
        }
    }

    .main-content__info{
        @include flex(column, center, center, $spacing-l);
        height: 100vh;
        padding: $spacing-l;

        .info__title{
            @include text(var(--color-primary), $text-xl, 700, center, 1em);
            margin-bottom: $spacing-l;
        }

        .accordion{
            width: 80%;
            --bs-accordion-bg: var(--color-background);
            --bs-accordion-border-color: var(--color-aside);
            --bs-accordion-active-color: var(--color-aside);
            --bs-accordion-btn-focus-border-color: var(--color-aside);
            --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--color-aside);
            --bs-accordion-btn-icon: none;
            --bs-accordion-btn-active-icon: none;

            
            .accordion-item{
                border: $b-desktop solid var(--color-aside);
                
                .accordion-header{
                    .accordion-button{
                        background-color: var(--color-primary);
                        opacity: 0.7;

                        h3{
                            @include text(var(--color-aside), $text-l, 600, left, 1em);
                            width: 70%;
                        }
                        
                        &:focus{
                            opacity: 1;
                        }

                        img{
                            position: absolute;
                            right: 0;
                            max-width: 18rem;
                            padding-right: $spacing-s;
                        }
                    }
                }
                
                .accordion-collapse{
                    background-color: var(--color-background);

                    .accordion-body{
                        font-size: 1.2rem;

                        &__institution{
                            @include text(var(--color-primary), $text-m, 600, left, 1em);
                            margin: $spacing-s 0;
                        }

                        &__date{
                            @include text(var(--color-secondary), $text-base, normal, left, 1em);
                            margin: $spacing-s 0;
                        }

                        &__info{
                            @include text(var(--color-text), $text-base, normal, justify, 1em);
                            hyphens: auto;
                            margin: $spacing-s 0;
                        }

                        .info__items{
                            @include text(var(--color-text), $text-base, normal, justify, 1em);
                            margin-left: $spacing-l;

                            li{
                                margin-top: $spacing-s;

                                strong{
                                    color: var(--color-secondary);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1340px){
    #education{
        .main-content__banner{
            .banner__title{
                font-size: 10em;
            }
        }
    }
}

@media screen and (max-width: 1180px){
    #education{
        .main-content__info{
            .accordion{
                width: 90%;

                .accordion-item{
                    .accordion-header{
                        .accordion-button{
                            h3{
                                font-size: $text-m;
                            }
                        }
                    }
                    .accordion-collapse{
                        .accordion-body{
                            font-size: $text-desktop;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    #education{
        .main-content__banner{
            .banner__title{
                font-size: 8em;
            }
        }

        .main-content__info{
            .accordion{
                .accordion-item{
                    .accordion-header{
                        .accordion-button{
                            img{
                                max-width: 14rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    #education{
        .main-content__banner{
            .banner__title{
                font-size: 6em;
            }
        }
        .main-content__info{
            @include flex(column, center, center, $spacing-m);
            padding: $spacing-m;
    
            .info__title{
                font-size: $text-l;
                margin-bottom: $spacing-m;
            }
    
            .accordion{
                .accordion-item{
                    .accordion-header{
                        .accordion-button{
                            h3{
                                font-size: 2em;
                            }

                            img{
                                max-width: 12rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    #education{
        .main-content__banner{
            .banner__title{
                font-size: 4em;
            }
        }
        .main-content__info{
            @include flex(column, center, center, $spacing-s);
            padding: $spacing-s;
    
            .info__title{
                font-size: $text-m;
                margin-bottom: $spacing-s;
            }
    
            .accordion{
                .accordion-item{
                    .accordion-header{
                        .accordion-button{
                            @include flex(column, center, center, 0);

                            h3{
                                font-size: 1.8em;
                                text-align: center;
                            }

                            img{
                                position: relative;
                                max-width: 10rem;
                                padding-right: 0;
                            }
                        }
                    }
                    .accordion-collapse{
                        .accordion-body{
                            font-size: $text-intermediate;
                        }
                    }
                }
            }
        }
    }
}