/* NORMALIZE */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background: var(--color-background);
    height: auto;
    font-family: map-get($fonts, text);
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 4px; 
    width: 4px;
    border-radius: 2px;
    box-shadow: 3px 3px 15px 3px var(--color-primary);
    background: var(--color-primary);
  }

ul{
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
}

.main-content{
    margin-left: 20rem;
}
@media screen and (max-width: 950px){
    .main-content{
        margin-left: 0;
    }
}

.gradient-background{
    animation: fluido 2s ease infinite;
    background: linear-gradient(60deg, var(--color-primary), var(--color-aside));
    background-size: 300%;
}

@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
  }
