/* NORMALIZE */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background: var(--color-background);
    height: auto;
    font-family: map-get($fonts, text);
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 4px; 
    width: 4px;
    border-radius: 2px;
    box-shadow: 3px 3px 15px 3px var(--color-primary);
    background: var(--color-primary);
  }

ul{
    list-style-type: none;
    // padding-left: 0;
}

a{
    text-decoration: none;
}

.main-content{
    margin-left: 20rem;
}